/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.rightAnswer {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: inline-block
}

.otherAnswer {
    display: inline-block
}

.voteDirective {
    background-color: #e8e8e8;
    padding: 0;
}

.voteDirective div {
    padding: 0;
}

.answerText {
    font-size: 16px;
}

.resultText {
    display: inline;
    font-size: 18px;
}

.answersList {
    display: inline
}

.margin-bottom {
    margin-bottom: 1%;
}

.align-checbox-right {
    float: right
}

.odd {
    color: #4cae4c;
}

.even {
    color: #1b6d85;
}

ul {
    padding: 0;
}

li {
    font-size: 23px;
}




