/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.rightAnswer{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: inline-block
}
.otherAnswer{
  display: inline-block
}
.voteDirective{
  background-color: #9acfea;
  margin: 20px;
  padding: 0;
}
.voteDirective div{
  padding: 0;
}
.buttons{
  margin: 5px;
  text-align: center;
}
.answerText{
  font-size: 15px;
}
.answer{
  margin-bottom: 1%;
}
